doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="site.js")
  body
    header
      h1 hello
      h2 hello
      h3 hello
      h4 hello
      h5 hello
      p hello
